:root{--color1:#ff00ea;
    --color2:#69f0ff;
    --color3:#620689;
    --color4:#132B75;
    --color5:#F9F9FB;
    --bx-shadow: 1px 3px 10px #637ac6;
}
/*Homepage styles*/
.home-page{ 
    background: var(--color3);
    background: linear-gradient(to top left, var(--color4), var(--color3));
    background-repeat: no-repeat;}
.home-page, .about, .contact{  font-family: 'Raleway', sans-serif;}
.container-main{
    height:100vh;
    color:white;
    text-align:center
}
.heading-name{
    color: var(--color2);
    text-shadow: 0px 0px 10px var(--color1);}
.container-main p{
    font-size:1.5rem;
    padding-bottom:0.75rem;}
.btn-main {
    text-decoration: none;
    color:white;
    border: 2px solid white;
    padding:10px 20px;
    margin:0 auto;}

.btn-main:hover{
    background:#44e3ffd7;
    color:#ffffff;
}
/*About page styles*/
.abt-prj-body{
    background:var(--color5);}

nav{
    background:var(--color4);}

.nav-link{
    color: var(--color2);}
.nav-link:hover{
    color:var(--color1);}
.active{
    font-weight: bold;}

main{ 
    display: flex;
    gap: 15px;
    flex-direction: row;}

.social{
    align-self:flex-start;
    position:sticky;
    top:300px;
    max-width: 40px;
  }
.social-link{
    color:var(--color4);
    font-size: 2.3rem;
    display: inline-block;
    padding:20px;
    opacity:50%;
  }
.social-link:hover{
    opacity:100%;
  }
.main-content{width:100%;}

.about{
    height:100%;}

.about-container{
    margin:0 auto;
    padding:60px 20px;
    max-width: 1024px}

.about-section{
    line-height: 1.5rem;
}
.cat-img{padding-top:3rem;}
.heading-about{
    text-align: center;}
.heading-about,.tech-heading, h2, .heading-project{
    color:var(--color3);}

.about-text{
        font-size:20px;
        line-height: 1.5rem;}
.tech{
    margin:0 auto;
    width:45%;
    background:var(--color5);
}
.tech-heading{
    font-size:30px;}
.icon{
    width:35px;}
.icon-p{
    font-size:1rem;
    display:inline-block;
    padding-left:8px;}

@media(max-width:600px){
    .nav-link{
        font-size:15px;
        padding:10px;}
    .justify-content-end{
        justify-content: center!important;}
    .about-container{
        padding:0 20px;}
    .cat-img{
        padding-top:5px;}
    .social-link{
            font-size: 1.5rem;}
}
@media(max-width:300px){
    .nav-link{
        font-size:0.75rem;
        padding:5px;}
    .icon{
        width:25px;}
    .icon-p{
        font-size:0.75rem;
        padding-left:3px;}
}
@media(max-height:400px){
    .social{
        top:50px;
      }
    .pb-5{
        padding-bottom:1.5rem!important;
    }

}
/*Project page style*/
.main-pjts{
        max-width: 900px;}
.pjt-card{
        border: 2px solid var(--color3);
        border-radius: 15px;
        box-shadow: var(--bx-shadow);
}

.pjt-img1, .pjt-img3{
        border-radius:15px 0 0 15px;}
.pjt-img2{
        border-radius: 0 15px 15px 0;}
.pjt-heading{padding-top:3rem;}
.pjt-link{
        color:var(--color3);
        text-decoration: none;
        border:1px solid var(--color3);
        border-radius:3px;
        padding:5px 10px;}
.pjt-link:hover{
        background:var(--color3);
        color:#ffffff;
}
@media(max-width:600px){
    .pjt-heading{
        padding-top:30px;}
    .pjt-img1, .pjt-img3{
        border-radius:15px 15px 0 0;}
    .pjt-img2{
        border-radius: 0 0 15px 15px;}
    .pjt-dsrc{padding-bottom:30px;}

}
/*Contact page style*/
.contact-pg{
    background: var(--color5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;}
.contact{
    margin:200px auto;
    max-width: 400px;
    border: 1px solid var(--color3);
    border-radius: 15px;
    box-shadow: var(--bx-shadow);
    padding:50px;
    text-align: center;}
.contact-heading{
    text-transform: uppercase;
    padding-bottom:1.5rem;
    color:var(--color3);}
.contact-link{  padding:10px;}
.icon{ 
    width:35px;}
.icon-mail{
    width:25px;}
.email{
    display: inline;
    color:var(--color3)}
@media(max-width:500px){
.contact{margin:150px 20px;}
      }
/*Footer*/
footer{
    background:var(--color4);
    text-align:center;
    margin-top:auto;
}
.rock-on{
    color:var(--color2);}
.icon-rock{
    width:20px;}